.topFooter {
  background: #393939;
  padding: 56px 0;
  margin-top: 50px;
}
.topFooterContainer {
  max-width: 1105px;
  margin-right: auto;
  margin-left: auto;
}
.topFooterWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 170px;
}
.logo {
  margin-bottom: 14px;
}
.callUs {
  font-size: 18px;
  line-height: 17px;
  letter-spacing: 0.2px;
  color: #00cad7;
  margin-bottom: 14px;
}
.phoneNumber {
  margin-bottom: 14px;
}
.phoneNumber p {
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.email {
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.socialIcons {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-top: 14px;
}
.linkCategory {
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  color: #00cad7;
  margin-bottom: 21px;
}
.link {
  text-decoration: none;
}
.linkItem {
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
  margin-bottom: 12px;
}
.paymentGateway {
  display: flex;
  justify-content: end;
}
.copyrightFooter {
  background: #161616;
  padding: 21px 0;
}
.copyrightFooterWrapper {
  max-width: 1350px;
  margin-left: auto;
}
.copyrightFooter p {
  font-size: 18px;
  line-height: 17px;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.listRemove {
  list-style: none;
}

/* Media Query for Mobile Devices  */
@media (max-width: 480px) {
  .topFooterContainer {
    padding-left: 16px;
    padding-right: 16px;
  }
  .topFooterWrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  .copyrightFooterWrapper {
    display: flex;
    justify-content: center;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 768px) {
  .topFooterContainer {
    padding-left: 16px;
    padding-right: 16px;
  }
  .topFooterWrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .copyrightFooterWrapper {
    display: flex;
    justify-content: center;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  .topFooterContainer {
    padding-left: 16px;
    padding-right: 16px;
  }
  .topFooterWrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  .copyrightFooterWrapper {
    display: flex;
    justify-content: center;
  }
}
