.product {
  padding: 14px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.13);
}
.item {
  flex-basis: calc(15.666% - 20px);
  padding: 14px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.13);
}
.productCategory {
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  margin-bottom: 11px;
}
.productTitle {
  font-size: 15px;
  line-height: 18px;
  color: #034e53;
  margin-bottom: 11px;
}

.priceWrapper {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 11px;
  margin-bottom: 11px;
}
.regularPrice {
  font-size: 13px;
  line-height: 15px;
  text-decoration-line: line-through;
  color: #697475;
}
.discountPrice {
  font-size: 15px;
  line-height: 18px;
  color: #0aaeb9;
}
.addToCartBtn {
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  background: #15adb7;
  width: 100%;
  padding: 8.5px 40px;
  border: 0;
  outline: none;
  cursor: pointer;
}
