.navbar {
}
.topNav {
  background: #03484d;
}
.topNavWrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1216px;
  margin-left: auto;
  margin-right: auto;
}
.logoSearchWrapper {
  display: flex;
  gap: 41px;
}
.inputWrapper {
  display: flex;
  align-items: center;
}

.cartAreaWrapper {
  display: flex;
}
.cartItem {
  display: flex;
  align-items: center;
}
