.HeroBg {
  background-image: url("/public/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.sliderContentWrapper {
  max-width: 1193px;
  margin-left: auto;
  margin-right: auto;
  padding: 52px 0;
  display: flex;
  justify-content: space-between;
  padding-top: 160px;
}
.sliderContents {
  max-width: 490px;
}
.heroSliderTitle {
  font-size: 57px;
  line-height: 53px;
  color: #0aaeb9;
}
.heroSubTitle {
  font-size: 13px;
  line-height: 15px;
  text-transform: capitalize;
  color: #000000;
  padding-right: 118px;
  margin-top: 8px;
}
.heroBtn {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #ffffff;
  outline: none;
  border: 0;
  padding: 15px 40px;
  background: #14b1f0;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 25px;
}

@media (max-width: 640px) {
  .sliderContentWrapper {
    padding-left: 16px;
    padding-right: 16px;
    flex-direction: column;
    gap: 30px;
  }
  .heroSliderTitle {
    font-size: 37px;
  }
}
