.categoryProductContainer {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}
.sectionTabWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
  margin-top: 30px;
}
.productCategoryWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.productCategoryTitle {
  font-size: 28px;
  line-height: 33px;
  text-transform: capitalize;
  color: #212525;
}
.productCategoryTitle span {
  color: #00cad7;
}
.tabItem {
  font-size: 19px;
  line-height: 53px;
  text-transform: uppercase;
  border: 0;
  background: transparent;
  outline: none;
  color: #000000;
  margin-right: 11px;
  cursor: pointer;
}

.tabItemWrap {
  display: flex;
}

/* Media Query for Mobile Devices  */
@media (max-width: 480px) {
  .productCategoryWrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .sectionTabWrapper {
    flex-direction: column;
  }
  .tabItemWrap {
    flex-direction: column;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 768px) {
  .productCategoryWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .sectionTabWrapper {
    flex-direction: column;
  }
  .tabItemWrap {
    flex-direction: column;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
}
